* {
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*navbar styling*/

nav {
    background: black;
    z-index: 3;
    height: 100px;
    width: 100%;
    position: fixed;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 110px;
    padding-left: 50px;
    cursor: pointer;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    margin-top: 0;
}

nav ul li {
    display: inline-block;
    line-height: 110px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.navbar:hover {
    background: rgba(0, 0, 0, 0.226);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 110px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 960px){
    label.logo {
        font-size: 35px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 25px;
    }
}

@media (max-width: 960px){
    .checkbtn{
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 100px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 25px;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/*section styling for multiple pages*/

section {
    text-align: center;
}

/*hero styling*/

.hero-image {
    background-image: url("/Images/heroimg.jpg");
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text h1 {
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text p {
    text-align: center;
    position: absolute;
    font-size: 2em;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.herobtn {
    text-align: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(197, 0, 0);
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.herobtn:hover {
    background-color: rgb(122, 0, 0);
    transition: .5s;
}

/*text styling */

.about {
    font-size: 1.5em;
    padding: 30px;
    text-align: center;
    margin: auto;
    max-width: 500px;
}

/*styling for images at the top of pages*/

.topimg {
    padding-top: 100px;
    width: 100%;
}

/*styling for images are not at the top of pages*/

.width {
    width: 100%;
}

/*anchor styling*/

.linkbtn {
    text-align: center;
    left: 50%;
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(197, 0, 0);
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.linkbtn:hover {
    background-color: rgb(122, 0, 0);
    transition: .5s;
}


/*styling for contact form*/

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 480px;
    font-size: 25px;
}

input {
    font-size: 12pt;
    padding: 12px 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

textarea {
    font-size: 12pt;
    padding: 12px 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.formbtn {
    text-align: center;
    left: 50%;
    margin: 20px;
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(197, 0, 0);
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.formbtn:hover {
    background: rgb(133, 0, 0);
    transition: .5s;
}


/*styling for multicolumn layout*/

.columns {
    width: 100%;
}

.shopimg {
    width: 50%;
    border-radius: 10px;
}

.shops {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 960px) {
    .columns {
        columns: 1;
    }
}

@media screen and (min-width: 961px) {
    .columns {
        columns: 3;
    }
}

.locationimg {
    padding-top: 100px;
    width: 60%;
}

footer {
    background: black;
    color: gray;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: bottom;
}
